root = true

[*]
end_of_line = crlf
insert_final_newline = true
# Commenting this out so we can use "Fix File Encoding" extension for visual studio
charset = utf-8

[*.ttinclude]
insert_final_newline = false

# C# files
[*.cs]
indent_style = space
indent_size = 4

# XAML files
[*.xaml]
# enable this once we have merged most of our branches into master
indent_style = space
indent_size = 2
