bin/
obj/
.vscode/
.fake
.vs/
.antlr/
/src/SDSLParserExample/Properties/launchSettings.json
log*.txt
*.vsix
*.fsx
src/Stride.Shaders.Spirv.Core/Generated/Stride.Shaders.Spirv.Generators/Stride.Shaders.Spirv.Generators.SPVGenerator/Op*.Instruction.g.cs