[submodule ".\\src\\Eto.Parse"]
	path = .\\src\\Eto.Parse
	url = https://github.com/ykafia/Eto.Parse
[submodule ".\\src\\CppNet"]
	path = .\\src\\CppNet
	url = https://github.com/ykafia/CppNet
[submodule ".\\src\\Spv.Generator"]
	path = .\\src\\Spv.Generator
	url = https://github.com/ykafia/Spv.Generator
