@{
    ViewData["Title"] = "Metrics";
}

<div class="row text-center">
    
    <div class="col-xs-12">
        <h1>Installations</h1>
    </div>

    <div class="col-md-6">
        <h1>Total Installs</h1>
        <canvas class="chart-line" data-labelname="# Of Installs"data-action="installs-per-month"></canvas>
        <p>Total incremental count of Stride installations.</p>
    </div>

    <div class="col-md-6">
        <h1>Installs Per Month</h1>
        <canvas class="chart-line" data-labelname="# Of Installs" data-action="installs-per-month"></canvas>
        <p>Total number of installations per month.</p>
    </div>

    <div class="col-md-6">
        <h1>Installs Last 30 Days</h1>
        <canvas class="chart-line" data-labelname="# Of Installs" data-action="installs-per-month"></canvas>
        <p>Total number of installations per day.</p>
    </div>

    <div class="col-md-6">
        <h1>Quits Per Month</h1>
        <canvas class="chart-line" data-labelname="# Of Quits" data-action="installs-per-month"></canvas>
        <p>Total number of installations that never opened the Game Studio per month.</p>
    </div>

    <div class="col-md-6">
        <h1>Retain percentage</h1>
        <canvas class="chart-line" data-labelname="# Of Retain" data-action="installs-per-month"></canvas>
        <p>Total percent of users not quitting Stride per month.</p>
    </div>
    
    <div class="col-md-6">
        <h1>Stride downloads per Month</h1>
        <canvas class="chart-line" data-labelname="# Of Downloads" data-action="installs-per-month"></canvas>
        <p>Total number of completed downloads of Stride in a month.</p>
    </div>
    
    <div class="col-md-6">
        <h1>VS plug-in downloads per Month</h1>
        <canvas class="chart-line" data-labelname="# Of Downloads" data-action="installs-per-month"></canvas>
        <p>Total number of completed downloads of the Stride VS plug-in in a month.</p>
    </div>

    <div class="col-xs-12"><hr>
    </div>
    <div class="col-xs-12 v-divider">
        <h1>Users</h1>
    </div>

    <div class="col-md-6">
        <h1>Total Users Per Country</h1>
        <canvas class="chart-bar" data-action="installs-per-month"></canvas>
        <p>Total users per country since forever, top 20.</p>
    </div>

    <div class="col-md-6">
        <h1>Users Per Country</h1>
        <canvas class="chart-bar" data-action="installs-per-month"></canvas>
        <p>Total users per country since 30 days, top 20.</p>
    </div>

    <div class="col-md-6">
        <h1>Total Users Per Month</h1>
        <canvas class="chart-line" data-action="installs-per-month"></canvas>
        <p>Total number of users that opened the Game Studio at least once in a month.</p>
    </div>

    <div class="col-md-6">
        <h1>Total Users Per Day</h1>
        <canvas class="chart-line" data-action="installs-per-month"></canvas>
        <p>Total number of users that opened the Game Studio at least once in the plotted day in the last 30 days.</p>
    </div>

    <div class="col-xs-12"><hr>
    </div>
    <div class="col-xs-12 v-divider">
        <h1>Activity</h1>
    </div>

    <div class="col-md-6">
        <h1>Active Users Per Month</h1>
        <canvas class="chart-line" data-action="installs-per-month"></canvas>
        <p>Total number of users that opened the Game Studio more than 5 times in a month.</p>
    </div>

    <div class="col-md-6">
        <h1>Activity per day</h1>
        <canvas class="chart-bar" data-action="installs-per-month"></canvas>
        <p>Game Studio activity in a month divided by the number of days of the month, resulting in an average value per day.</p>
    </div>

    <div class="col-md-6">
        <h1>High Usage Per Month</h1>
        <canvas class="chart-line" data-action="installs-per-month"></canvas>
        <p>Total number of users that opened the Game Studio at least once for 10 different days in a month.</p>
    </div>

    <div class="col-md-6">
        <h1>Team Activity</h1>
        <canvas class="chart-bar" data-action="installs-per-month"></canvas>
        <p>The number of different projects that were open by multiple users</p>
    </div>

    <div class="col-md-6">
        <h1>Usage Per Version</h1>
        <canvas class="chart-bar" data-action="installs-per-month"></canvas>
        <p>Stride version usage per month in the last 30 days.</p>
    </div>

    <div class="col-md-6">
        <h1>Crashes Per Hour</h1>
        <canvas class="chart-bar" data-action="installs-per-month"></canvas>
        <p>Average of crashes per hour partitioned by version.</p>
    </div>

    <div class="col-md-6">
        <h1>Platforms Usage Last 30 Days</h1>
        <canvas class="chart-bar" data-action="installs-per-month"></canvas>
        <p>Number of session/projects opened with the given platforms.</p>
    </div>
</div>

<script src="~/lib/chartjs/chart.js"></script>
<script type="text/javascript" src="~/js/main.js"></script>