<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="7603a688-a9e2-4d29-8400-62d4bda4da26" Publisher="CN=pierre" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Audio.Tests.Manual</DisplayName>
    <PublisherDisplayName>pierre</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App.WinRT" Executable="$targetnametoken$.exe" EntryPoint="Xenko.Audio.Tests.Manual.App.WinRT">
      <VisualElements DisplayName="Audio.Tests.Manual" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Audio.Tests.WinRT.Manual" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>