<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Irony" publicKeyToken="32ac18d37eb0d5c5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
