<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- not necessary with 3.x, kept for backward compatibility with Stride 1.x and 2.x -->
    <add key="repositorypath" value="GamePackages" />
    <add key="mainPackages" value="Stride"/>
    <add key="vsixPlugin" value="Stride.VisualStudio.Package"/>
  </config>

  <packageSources>
    <!-- extra internal/test package repositories can be added -->
  </packageSources>

</configuration>
