<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Stride Dev" value="../../../bin/packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Stride Dev">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
