<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="Xenko.Graphics.RegressionTests">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="26" />
	<application android:label="Graphics Regression Tests"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>