*.suo
*.csproj.user
*.vcxproj.user
*.ReSharper.user
*.DotSettings.user
*.sdpkg.user
_ReSharper.*
*.sdf
*.opensdf
*.i.cs
*.cache
*.tlog
*.log
*.obj
*.pdb
*.nvuser
*.exp
*.orig
*.psess
*.vspx
*.shfbproj_*
*.dotCover
*.DotSettings
*.Ghostdoc.xml
*.sln.ide
StyleCop.Cache
My Amplifier*
Debug
Release
Win32Debug
Win32Release
CodeAnalyst
UpgradeLog*
Temp/
Bin/
ipch/
obj/
Win32
Win32Debug
*.androidcache
libfreetype.a
libcore.a
libbulletc.a
*.CachedGlyphs
*.CachedImage
log
routerlog.txt
*.ilk
*.pri
*.lib
!Others/NativeLinking/NativeLibs/**/*
