<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.Net" tracemode="protocolonly" maxdatasize="1024">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="Open.NAT">
        <listeners>
          <add name="System.Net"/>
          <add name="ColoredConsole"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Warning"/>
      <add name="Open.NAT" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="System.Net"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="network.log">
        <filter type="Open.Nat.ConsoleTest.HttpTrafficOnlyFilter, Open.Nat.ConsoleTest, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" />        
      </add>
      <add name="ColoredConsole" type="Open.Nat.ConsoleTest.ColorConsoleTraceListener, Open.Nat.ConsoleTest, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null">
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
